<!DOCTYPE html>
<html>
    <head>
        <title>SBLC APP Local</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Oswald|Source+Sans+Pro" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/stylesheets/bootstrap.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="/stylesheets/tablet.css">
        <link rel="stylesheet" href="/stylesheets/desktop.css">

    </head>
    <body>



      <nav class="navbar navbar-expand-md bg-light navbar-light">
        <!-- Brand -->
        <a class="navbar-brand" href="/">SBLC</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>


        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">

            <% if(!currentUser) { %>
              <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
              <li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
            <% } else {%>
              <li class="nav-item"><a class="nav-link" href="#">Signed in as <strong><%= currentUser.username %></strong></a></li>
              <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            <% } %>
          </ul>
        </div>
      </nav>

<div class="container-fluid">
  <!-- error and success (both are arrays) are coming from app.js, in app.use
  res.locals.error = req.flash("error");
  res.locals.success = req.flash("success");-->
  <% if (error && error.length > 0) { %>
    <div class="alert alert-danger">
      <%= error %>
    </div>
  <% } %>

  <% if (success && success.length > 0) { %>
  <div class="alert alert-success">
    <%= success %>
  </div>
  <% } %>
</div>

<!-- <div class="container teddy-temp">
  sjdaklfasdlkf -->
