<!-- index.ejs pg should be primary root pg (ex: shows a bunch of cats), that renders a bunch of previews.
Each individual show.ejs pg should focus on one cat.  -->

<% include ../partials/header %>
<div class="well">
  <h1>Resources</h1>
</div>

<div class="resources-container">
  <div class="border-line-break well">
    <h2>For soon-to-be tutors</h2>
  </div>
  <div class="well">
    <p>Checklist</p>
    <ul>
      <li>sadkfjl</li>
    </ul>
  </div>

</div>

<div class="resources-container">
  <div class="border-line-break well">
    <h2>For Current Tutors </h2>
  </div>
  <div class="well">
    <p>Checklist</p>
    <ul>
      <li>sadkfjl</li>
    </ul>
  </div>

</div>



<% include ../partials/footer %>
