<!-- index.ejs pg should be primary root pg (ex: shows a bunch of cats), that renders a bunch of previews.
Each individual show.ejs pg should focus on one cat.  -->

<% include ../partials/header %>


<p>this is resource main pg</p>




<% include ../partials/footer %>
