<% include ../partials/header %>

<div class="container">

  <h3>Add new comment</h3>
  <form action="/comments" method="POST">
    <div class="form-group">
      <textarea name="comment[text]"  class="form-control comment-text-input" placeholder="Write message here..."></textarea>
      <!-- <input type="text" name="comment[text]" class="form-control comment-text-input" placeholder="Write your message..."> -->
    </div>
    <p>
      <button class="btn btn-primary">Submit</button>
    </p>
  </form>

</div>
<% include ../partials/footer %>
