<% include ../partials/header %>

<!-- This is the main page tutors will see -->
  <div class="jumbotron">
    <h1 class="hero-text">SBLC</h1>
    <h3 class="hero-desc">
      Welcome tutors!
    </h3>
    <div class="main-btn">
      <a class="btn btn-info test-btn" href="/photos/new">Button</a>
    </div>
  </div>





  <% comments.forEach(function(comment){ %>
    <div class="well">
      <p>
      <strong><%= comment.author.username %></strong>
      </p>

      <p><%= comment.submittedDate %></p>
      <p><%= comment.submittedTime %></p>

    <p>
       <%= comment.text %>
    </p>
  </div>
  <% }) %>


<div class="well-accent-bar">
<p>Join the conversation!</p>

</div>




<p>
  <!-- press a btn here to start GET req. to /comments/new: -->
  <a class="btn btn-info" href="/comments/new">Add a comment</a>
</p>


<% include ../partials/footer %>
