<% include ../partials/header %>

<!-- This is the main page tutors will see -->
  <div class="jumbotron">
    <h1 class="hero-text">SBLC</h1>
    <h3 class="hero-desc">
      Welcome tutors!
    </h3>
    <div class="main-btn">
      <a class="btn btn-info test-btn" href="/photos/new">Button</a>
    </div>
  </div>



              <p>Join the conversation!</p>


              <div class="well-accent-bar">
                <p>Join the conversation!</p>
              </div>



              <a href="/register">Go to register page!</a>






<% include ../partials/footer %>
