
<h1>demo</h1>



all threads <%= thread %>



<h2>for each</h2>
<% thread.forEach(function(thread){ %>


  <div class="well">
    <li>    <%= thread %></li>

  </div>


<% }) %>    <!--end of forEach-->
