<% include partials/header %>

<div class="container">
  <div class="jumbotron">
    <h5>Welcome to the landing pg!</h5>
    <p>
      <a class="btn btn-info" href="/photos">View all photos!</a>
    </p>
  </div>
</div>
<% include partials/footer %>
