<% include partials/header %>

<div class="container user-form">
  <h1>Sign up</h1>
    <form action="/register" method="POST">
      <div class="form-group">
        <input class="form-control" type="text" name="username" placeholder="Pick a username">
      </div>
      <div class="form-group">
        <input class="form-control" type="password" name="password" placeholder="Pick a password">
      </div>
      <button class="btn btn-primary">Sign Up</button>
    </form>

    <p class="move-route">
      Already have an account? <a href="/login">Login</a>
    </p>

</div>
<% include partials/footer %>
