@media (min-width: 1200px) {

  .jumbotron  {
    margin-bottom: 2rem;
  }

  .add-comment-btn {
    display: inline;
  }

  body {
    background-color: green;
  }


}



/* Large devices (desktops, 992px and up) */
 @media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px) {  }
