/* Large devices (desktops, 992px and up) */
 @media (min-width: 992px) {

}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  .hero-text {
    display: inherit;
    font-family: 'Oswald', sans-serif;
  }

  .hero-icon {
    display: inherit;
  }

  .fa-book {
    font-size: 1.75em;
  }

  .search-bar {
    width: 15%;
  }

  .user-form {
    width: 30%;
  }

  .comment-text-input {
  }

  .room-sblc, .room-urgent, .room-general {
    padding-right: 15px;
    padding-left: 15px;

  }

}


.jumbotron  {
  margin-bottom: .5rem;
}
