/* Large devices (desktops, 992px and up) */
 @media (min-width: 992px) {  }


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


  /* .jumbotron  {
    background-color: #FFFFFF;
    margin-bottom: 2rem;
  } */

  .fa-book {
    font-size: 1.75em;
  }

  .user-form {
    width: 30%;
  }

  /* .comment-text-input {
    width: 50%;
  } */

  /* form {
    width: 40%;
  } */


/* TEMPORARY CSS*/
  /* body {
    background-color: pink;
  } */
  /* .container {
    border: 1px solid red;
  }

  .row {
    border: 1px solid green;
  } */

  .room-sblc, .room-urgent, .room-general {
    padding-right: 15px;
    padding-left: 15px;

  }


}


.jumbotron  {
  margin-bottom: .5rem;
}
