/*Colors*/
/*Primary: #80CBC4*/
/*Borders: #7DB0D8*/
/*Primary btn: */

body {
  background-color: #F4F7F6;
  font-family: 'Source Sans Pro', sans-serif;
  color: #576578;
}

.fa-book {
  /* color: #64B5F6; */
  color: #2196F3;
}

.fa-plus {
  color: #7DB0D8;
}

.collapse-expand {
  /* border: 1px solid red; */
  float: right;
}

.jumbotron  {
  display: none;
  background-color: #FFFFFF;
  margin-bottom: .5rem;
}

.hero-text {
  font-family: 'Oswald', sans-serif;
}

.hero-desc {
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 1em;
}

.navbar-light {
  border: 1px solid #e7e7e7;
}

.btn-info {
  padding-left: 2.5em;
  padding-right: 2.5em;
  color: rgb(68, 68, 68);
  background-color: #4DB6AC;
  color: white;
}

.btn-info:hover{
  background-color: #26A69A;
}

.btn-primary {
  width: 100%;
  color: rgb(68, 68, 68);
  background-color: #64B5F6;
  color: white;
  border: none;
}

.btn-primary:hover{
  background-color: #42A5F5;
}

.btn-collapse-expand {
  /* display: inline; */
  padding: .75px;
}

.add-comment-btn {
  display: block;
  margin: .5em .5em .5em 0;
}

input {
  border: 1px solid red;
}

.thread-subject:valid {
  border: 1px solid blue;
}

.thread-subject:invalid {
  border: 1px solid red;
}


.comment-text-input {
  width: 100%;
  height: 250px;

}

.form-control:focus {
  border-color: #7DD87E;
}

.caption-full {
 padding: 1.5em;
}

.well {
  padding: 0.5em;
  background-color: #FFFFFF;
  border-bottom: 1px solid #e9e7e7;
}

.well-accent-bar {
  padding: 1.5em;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.border-line-break {
  margin-bottom: 0;
  border-bottom: 3px solid #d6d6d6;
}

 .room-sblc, .room-urgent, .room-general {
   margin-bottom: 22px;
 }

 .grandparent {
   border: 1px solid pink;
 }

 .parent1Content {
   border: 1px solid red;
 }

 .grandparentContent {
   border: 1px solid red;
 }

 .collapsed .icon-class:before {
     content: '>';
 }
 .icon-class:before {
   display: none;
 	/* content: 'v'; */
   content: "\f067";
 }

 .icon-class {
   border: 1px solid red;
 }

.thumbnail img {
  width: 100%;
  border-radius: 3px;
}

.delete-form {
  display: inline;
}

/* .edit-style {
  border: none;
  background: none;
  color: #EC971F;
  display: inline;
} */

.edit-style:hover {
  color: #EC971F;
}

.del-style {
   border: none;
   background: none;
   /* color: #C9302C; */
   color: #E57373;
   display: inline;
}

.del-style:hover {
   text-decoration: underline;
}

.more-info-style {
  display: block;
  padding-bottom: 6px;
  color: #26A69A;
}

.move-route {
  margin-top: 15px;
}

.more-info-style:hover {
  color: #00796B;
  text-decoration: underline;
}

.row {
  margin: 0 auto;
}

.column {
  margin-bottom: 2.5em;
   /*allow thumbnail to be centered in column!*/
   text-align: center;
}

.img-border {
  border: 1px solid silver;
  border-radius: 3px;
  display: inline-block;
}

.image {
	display: inline-block;
	margin: 4px;
	background-position: center center;
	background-repeat: no-repeat;
  border-radius: 2px;
}

.image.size-fixed {
	width: 200px;
	height: 200px;
}

.image.scale-fill {
	background-size: cover;
}

.image img {
	display: none;
}



/*
@media only screen and (min-width: 1025px) {

  .wrap {
    width: 50%;
    margin: 0 auto;
  }

}

@media only screen and (max-width: 768px) {

  .img-wrapper {
     border: 1px solid red;
     margin: 0 auto;
     display: block;
     text-align: center;

  }
  .image {
    margin: 0 auto;
    display: block;
  }

}*/

img {
  /* width: 19.5%; */
  width: 4%;
  margin-bottom: .75em;
  border-radius: 2px;
}

p {
  font-size: 1.4em;
}

.room-container p {
  font-size: 1.25em;
  line-height: 1.4285714285714286em;
  margin: 0;
  padding: 0;
}

.temp-content {
  /*border: 1px solid red;*/
  margin-top: 800px;
  width: 100%;
}

.temp-content h2 {
  color: #4DB6AC;
}

.container {
  border: 1px solid red;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.resources-container {
  margin-bottom: 22px;
}

.btn-main-controller[aria-expanded="false"]:before{
  content:"Expand All";
}

.btn-main-controller[aria-expanded="true"]:before{
  content:"Collapse All";
}


/*Modifies Bootstrap Original CSS*/

.alert {
  margin-bottom: .25rem;
}

.edit-style {
  /* color: #EC971F; */
  color: #FFE0B2;
}

/* .collapse {
  border: 1px solid blue;
} */

/* .collapsible-box {
  border: 2px dashed blue;
} */

/* .well {
  border: 1px solid blue;
} */

/* .thread-box {
  border: 1px solid orange;
} */


/*
@media screen and (max-width: 699px) and (min-width: 520px) {
    ul li a {
        padding-left: 30px;
        background: url(email-icon.png) left center no-repeat;
    }
    h1 {
      color: red;
    }
} */


/*
@media (min-width: @screen-sm-min) {

  h1 {
    color: red;
  }

 } */


 /* // Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {

  body {
  }

} */




/* .col-md-6 {
  border: 1px solid green;
} */

/* .row {
  border: 3px solid orange;
} */

/* .navbar {
   background-color: #B2DFDB;
   border-radius: 0;
   color: blue;
   border: 4px solid pink;
} */

/* .nav {
  color: rgb(68, 68, 68);
}
 */

/* .navbar-nav {
  color: rgb(68, 68, 68);
} */
