/*Colors*/
/*Primary: #80CBC4*/
/*Borders: #7DB0D8*/
/*Primary btn: */

body {
  background-color: #F4F7F6;
  font-family: 'Source Sans Pro', sans-serif;
  color: #576578;
}

.jumbotron  {
  background-color: #FFFFFF;
  /*padding: 9.5em;*/
}

.hero-text {
  font-family: 'Oswald', sans-serif;
}

.hero-desc {
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 1em;
}

.navbar {
   background-color: #B2DFDB;
   background-color: white;

   border-radius: 0;
   color: red;
}

.nav {
  color: rgb(68, 68, 68);
}

.navbar-nav {
  color: rgb(68, 68, 68);
}

.btn-info {
  padding-left: 2.5em;
  padding-right: 2.5em;
  color: rgb(68, 68, 68);
  background-color: #4DB6AC;
  color: white;
}

.btn-info:hover{
  background-color: #26A69A;
}

.btn-primary {
  width: 100%;
  color: rgb(68, 68, 68);
  background-color: #64B5F6;
  color: white;
  border: none;
}

.btn-primary:hover{
  background-color: #42A5F5;
}

.form-control:focus {
  border-color: #7DD87E;
}

.caption-full {
 padding: 1.5em;
}


.well {
  padding: 1.5em;
  background-color: #FFFFFF;
   margin-bottom: .5em;
}

.well-accent-bar {
  padding: 1.5em;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.thumbnail img {
  width: 100%;
  border-radius: 3px;
}

.delete-form {
  display: inline;
}

.user-form {
  width: 30%;
}

.edit-style {
  text-decoration: none;
  color: #EC971F;
  display: inline;
}

.edit-style:hover {
  color: #EC971F;
}

.del-style {
   border: none;
   background: none;
   color: #C9302C;
   display: inline;

}

.del-style:hover {
   text-decoration: underline;
}

.more-info-style {
  display: block;
  padding-bottom: 6px;
   /*border: 1px solid blue;*/

  color: #26A69A;
}

.move-route {
  margin-top: 15px;
}

.more-info-style:hover {
  color: #00796B;
  text-decoration: underline;
}

.row {
  margin: 0 auto;
}

.column {
  margin-bottom: 2.5em;
   /*border: 1px solid green;*/
   /*allow thumbnail to be centered in column!*/
   text-align: center;
}

.img-border {
  border: 1px solid silver;
  border-radius: 3px;
  display: inline-block;
}

.image {
			display: inline-block;
			margin: 4px;
			background-position: center center;
			background-repeat: no-repeat;
      border-radius: 2px;
		}
		.image.size-fixed {
			width: 200px;
			height: 200px;
		}
		.image.scale-fill {
			background-size: cover;
		}
		.image img {
			display: none;
		}



/*
@media only screen and (min-width: 1025px) {

  .wrap {
    width: 50%;
    margin: 0 auto;
  }

}


@media only screen and (max-width: 768px) {

  .img-wrapper {
     border: 1px solid red;
     margin: 0 auto;
     display: block;
     text-align: center;

  }
  .image {
    margin: 0 auto;
    display: block;
  }

}*/



img {
  width: 19.5%;
  margin-bottom: .75em;
}


p {
  font-size: 1.4em;
}


.temp-content {
  /*border: 1px solid red;*/
  margin-top: 200px;
  width: 100%;
}


/*.well {
  border: 1px solid blue;
}*/
