/*Colors*/
/*Primary: #80CBC4*/
/*Borders: #7DB0D8*/
/*Primary btn: */

body {
  background-color: #F4F7F6;
  font-family: 'Source Sans Pro', sans-serif;
  color: #576578;
}

.jumbotron  {
  background-color: #FFFFFF;
  margin-bottom: .5rem;
}

.hero-text {
  font-family: 'Oswald', sans-serif;
}

.hero-desc {
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 1em;
}

.navbar-light {
  border: 1px solid #e7e7e7;
}

.btn-info {
  padding-left: 2.5em;
  padding-right: 2.5em;
  color: rgb(68, 68, 68);
  background-color: #4DB6AC;
  color: white;
}

.btn-info:hover{
  background-color: #26A69A;
}

.btn-primary {
  width: 100%;
  color: rgb(68, 68, 68);
  background-color: #64B5F6;
  color: white;
  border: none;
}

.btn-primary:hover{
  background-color: #42A5F5;
}

.add-comment-btn {
  display: block;
}

input {
  border: 1px solid red;
}

.form-control {
  width: 100%;
  height: 250px;
}

.form-control:focus {
  border-color: #7DD87E;
}

.caption-full {
 padding: 1.5em;
}


.well {
  padding: 0.5em;
  background-color: #FFFFFF;
  margin-bottom: 3px;
}

.well-accent-bar {
  padding: 1.5em;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.room-sblc-header {
  margin-bottom: 0;
  border-bottom: 1px solid #d6d6d6;
}

 .room-sblc, .room-urgent, .room-general {
   /* border: 1px solid red; */
   margin-bottom: 22px;
 }

.thumbnail img {
  width: 100%;
  border-radius: 3px;
}

.delete-form {
  display: inline;
}

.user-form {
  width: 30%;
}

.edit-style {
  text-decoration: none;
  color: #EC971F;
  display: inline;
}

.edit-style:hover {
  color: #EC971F;
}

.del-style {
   border: none;
   background: none;
   color: #C9302C;
   display: inline;

}

.del-style:hover {
   text-decoration: underline;
}

.more-info-style {
  display: block;
  padding-bottom: 6px;
   /*border: 1px solid blue;*/

  color: #26A69A;
}

.move-route {
  margin-top: 15px;
}

.more-info-style:hover {
  color: #00796B;
  text-decoration: underline;
}

.row {
  margin: 0 auto;
}

.column {
  margin-bottom: 2.5em;
   /*allow thumbnail to be centered in column!*/
   text-align: center;
}

.img-border {
  border: 1px solid silver;
  border-radius: 3px;
  display: inline-block;
}

.image {
			display: inline-block;
			margin: 4px;
			background-position: center center;
			background-repeat: no-repeat;
      border-radius: 2px;
		}
		.image.size-fixed {
			width: 200px;
			height: 200px;
		}
		.image.scale-fill {
			background-size: cover;
		}
		.image img {
			display: none;
		}



/*
@media only screen and (min-width: 1025px) {

  .wrap {
    width: 50%;
    margin: 0 auto;
  }

}


@media only screen and (max-width: 768px) {

  .img-wrapper {
     border: 1px solid red;
     margin: 0 auto;
     display: block;
     text-align: center;

  }
  .image {
    margin: 0 auto;
    display: block;
  }

}*/



img {
  /* width: 19.5%; */
  width: 4%;
  margin-bottom: .75em;
}


p {
  font-size: 1.4em;
}


.temp-content {
  /*border: 1px solid red;*/
  margin-top: 600px;
  width: 100%;
}


/* .room-container {
  border: 1px solid blue;
} */

/* .container-fluid {
  border: 1px solid green;
} */

.container-fluid {
  /* border: 1px dashed red; */
  padding-left: 0;
  padding-right: 0;
}

/* .row {
  border: 1px solid red;
} */

/* .col-sm {
  border: 1px solid green;
} */




/*
@media screen and (max-width: 699px) and (min-width: 520px) {
    ul li a {
        padding-left: 30px;
        background: url(email-icon.png) left center no-repeat;
    }
    h1 {
      color: red;
    }
} */


/*
@media (min-width: @screen-sm-min) {

  h1 {
    color: red;
  }

 } */


 /* // Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {

  body {
  }

} */




/* .col-md-6 {
  border: 1px solid green;
} */

/* .row {
  border: 3px solid orange;
} */

/* .navbar {
   background-color: #B2DFDB;
   border-radius: 0;
   color: blue;
   border: 4px solid pink;
} */

/* .nav {
  color: rgb(68, 68, 68);
}
 */

/* .navbar-nav {
  color: rgb(68, 68, 68);
} */
