<% include ../partials/header %>

<div class="container">
  <h3>Add new thread</h3>
  <form action="/threads" method="POST">
    <div class="form-group">
      <input autofocus type="text" name="thread[subject]" class="form-control subject"  placeholder="Subject" minlength="1" maxlength="160" required>
      <textarea name="thread[text]"  class="form-control comment-text-input text-body" placeholder="Write message here..."></textarea>
    </div>
    <p>
      <button class="btn btn-primary submit-btn" id="submit-thread">Submit</button>
    </p>
  </form>
</div>



<% include ../partials/footer %>
